/*!
 * FullCalendar v2.0.2 Stylesheet
 * Docs & License: http://arshaw.com/fullcalendar/
 * (c) 2013 Adam Shaw
 */
/*
.integrated_calendar_singleevent{


text-align: left;

}*/
/*
.integrated_calendar_singleevent article {

}*/

#int_cal_upcoming_widget {

}
#int_cal_upcoming_widget li{

    line-height: 12pt;
}

ul.integrated_calendar_meta{

    margin-bottom: 5px; line-height: auto;
}
.integrated_calendar_meta{

    list-style: none;
}

ul.integrated_calendar_meta li{


}

ul.integrated_calendar_meta .permalink{

    float:right; margin-right: 10px;
}



.ttRule{


    background-color: #6A6756;
    height: 1px;
    margin-right: 3px;
    margin-bottom: 4px;
    padding: 0px;
    border-width: 0px;
margin-top:6px;

}

.desc-image{
    float:left;
    margin-right:8px;
margin-bottom: 2px;
}


.noevents{


}

.noevents-italic{

    font-style: italic;
}


ul.integrated_calendar_meta li a img{

    height: auto;
    float: left;
    padding-right: 6px;
    padding-top: 3px;


}
ul.integrated_calendar_meta li a div{
padding-top: 0px;


}

strong{

    font-weight: bold;
}


/** FROM LESS FOR TOOLTIPS AND SINGLE EVWENTS **/

