


/*****MODAL BG *******/
@modal-background-image: '../images/ui-bg_diagonals-small_50_1a130a_40x40.png';
@modal-background-color : #1a130a;


/*****GENERAL DIALOG *******/
@border-radius: 5px;
@dialog-bg-color: #95917a;  /* should be from calendar ug */
@dialog-border-color:darken(@dialog-bg-color, 85%);

/***** TOOLTIP *****/
@tooltip-width : 400px;

/***** CALENDAR ****/

@fc-border-color: #7e7e7e;
@fc-border:1px solid @fc-border-color;
@fc-header-bg-color: #60401c;
@fc-content-bg-color: #bdba9c;
@fc-content-header-bg-color: #e4e4e4;
@fc-highlight-color: #faff9c;