
#integrated_calendar_single_render{
margin: 0 auto;
  margin-top:30px;
  width: 520px;
 // max-width: 520px;
  background: @dialog-bg-color ;
  padding: 0px 10px 5px 0px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
  -box-shadow: 0 0 10px rgba(0,0,0,.4);
  a{
    color: #f0e68c;
  }
}

.integrated_calendar_singleevent{
/*  width: 520px;
  background: @dialog-bg-color ;*/

}
.integrated_calendar_singleevent .event-scroll-section{
  height: 290px;

}

.integrated_calendar_singleevent .event-scroll-section .single-event{
  margin-right: 10px;

}
.integrated_calendar_singleevent {
  color: #f0efe9;
  font-size: 8pt;

  line-height: 12.8pt;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 20px;padding-top: 10px;
}
//@media (max-width: 900px) {
  //.integrated_calendar_singleevent {
   // background-color: #ffcc00;
 // }
//}
.integrated_calendar_singleevent p {
  margin: 12px 0;
}
.integrated_calendar_singleevent h1, .integrated_calendar_singleevent h2 {
  color: #f0e68c;
  font-family: 'HPLC_metro','Georgia','arial';
  font-size: 18pt;
  font-weight: bold;
  line-height: 130%;
  padding-bottom: 8px;
}

