
.integrated_calendar_tooltips {
  color: #f0efe9;
  font-size: 8pt;
  line-height: 12.8pt;
  margin: 10px;
  text-align: left;
/* THIS SHOULD BE SET IN THE OPTIONS SECTION BUT NOT YET */
  width: @tooltip-width;
  a{
    color: #f0e68c;


  }

}
.integrated_calendar_tooltips .description {
  margin-bottom: 10px;
  white-space: pre-wrap;
  width: 100%;
}
.integrated_calendar_tooltips .read-more {
  color: #ff0000;
  font-family: 'HPLC_metro','Georgia','arial';
  font-size: 10.8pt;
}
.integrated_calendar_tooltips h2 {
  color: #f0e68c;
  font-family: 'HPLC_metro','Georgia','arial';
  font-size: 13.2pt;
}