<div align="center" class="noevents" id="int_cal_upcoming_widget"><div class="noevents-italic">The are no upcoming events.</div>
    <a href="<%this.HOME_SITE%>/past-gigs/">See past performances</a>
</div>