%fill:show% – %fill:date%\n
\n
[insert photo]\n
%fill:show%  | %fill:venue%  | [addr], NY 14204 (map) | [weekday], %fill:date% | pm until am\n
\n
( source: [insert source] ) [insert description]\n
\n
Related Links:\n
- <a href="%fill:fblink%">Facebook Event</a>\n
- Ticket Information\n
- Org Website\n
\n
 _____________________________________________\n
\n
<%for(var index in this.events) {%>
<%this.events[index].title%> – %fill:date%\n
Date:
<%if(this.events[index].isAllDayEvent) {%>
[All Day Event] <%this.events[index].isAllDayEvent%>
<%} else {%>
<%this.events[index].startlong%> - <%this.events[index].endlong%>
<%}%>\n\n
[insert photo]\n\n
<%this.events[index].title%>  | [VENUE]<%this.events[index].location%>  | [addr] <%this.events[index].location%>  (map) | [weekday], %fill:date% | pm until am \n
( source: [insert source] ) [insert description] <%this.events[index].description%>\n\n
Related Links:\n
<%if(this.events[index].isFacebook) {%>
- <a href="<%this.events[index].url%>">Facebook Event</a>\n
<%} else {%>
- <a href="<%this.events[index].url%>">Google Event</a>\n
<%}%>
- Ticket Information\n
- Org Website\n
<%}%>
