<ul id="int_cal_upcoming_widget">
    <%for(var index in this.events) {%>

        <li class="<%this.events[index].viewClass%>" uuid="<%this.events[index].uuid%>">
            <a href="#">

                <%if(this.events[index].isAllDayEvent) {%>
              <strong>  <%this.events[index].AllDayEventWidget%></strong>
                <%} else {%>
                <strong>  <%this.events[index].widgetDate%></strong>
                <%}%> : <%this.events[index].title%>
            </a>
        </li>

    <%}%>
</ul>